:root{
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: #131110;
  --blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);
  --orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);
  --blue: #4066ff;
  --lightBlue: #eeeeff;
  --hrColor: #cfcdcd;
  --cardColor: rgba(255, 255, 255, 0.64);
  --profileShadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.25);
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button:hover{
  cursor: pointer;
}
.flexCenter {
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flexColStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flexColEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.primaryText {
  color: #1f3e72;
  font-weight: bold;
  font-size: 2rem;
}

.secondaryText {
  color: rgb(140 139 139);
  font-size: 1rem;
}
.orangeText {
  color: orange;
  font-size: 1.5rem;
  font-weight: 600;
}

.button{
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color:white;
  background: var(--blue-gradient);
  border:none;
  border-radius:4px;
  transition:all 300ms ease-in;
}
.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}
.smalltext{
    font-size: 0.56rem;
     color: gray;
}

::-webkit-scrollbar{
  width: 0.6rem;
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: blue;
  border-radius: 2rem;
  border: 0.07rem solid blue;
}
::-webkit-scrollbar-track{
  background-color: transparent;
  border-left: 0.1rem solid gray;
}

/* App */
.App{
  
  position:relative;
  overflow-x: clip;
}


#light{
  background-color: #f5f5f5;
}
#dark{
  background-color: black;
}

.white-gradient{
  position:absolute;
  width: 20rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.8);
  filter:blur(120px);
  border-radius:100px;
 
}
/* media queries */
/* @media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
    margin: auto;
  }
}

@media (min-width: 640px) {
  .paddings {
    padding: 4rem;
  }
}

@media (min-width: 1280px), (min-width: 768px) {
  .paddings {
    padding: 2rem;
  }
}

@media (max-width: 640px) {
  .primaryText {
    font-size: 1.5rem;
  }
  .orangeText {
    font-size: 1.2rem;
  }
} */
