.ProfilePage{
    margin: 0 10rem;
    color: white;
}
#light .ProfilePage{
    color: black;
}

.ProfilePageImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.BigImage{
    width: 100%;
    height: 15rem;
}

.SmallImage{
    width: 9rem;
    border-radius: 50%;
    position: absolute;
    margin: 0.5rem 0 0 0.5rem;
    box-shadow: var(--profileShadow);
}
  
  #dark .SmallImage{
    box-shadow: 0px 4px 17px 2px rgba(255, 255, 255, 0.25);
  }
  
  
  .ProfilePageName{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2px;
  }
  
  .ProfilePageName>span:nth-of-type(1)
  {
      font-weight: bold;
      font-size: 2rem;
      margin: 1.5rem 2rem 0.7rem 3rem;
  }
  
  .ProfilePageName>span:nth-of-type(2)
  {
      color: var(--gray)
  }
  /* Follow Status */
  .ProfilePagefollowStatus {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      border-radius: 0 0 6rem 5.1rem;
    }

    #light .ProfilePagefollowStatus, #light .ProfilePageName{
        background-color: var(--cardColor);
        box-shadow: 0 0.2rem 0.5rem 0.1rem rgb(185, 184, 184);
        color: black;
    }
    #dark .ProfilePagefollowStatus, #dark .ProfilePageName{
        background-color:rgba(63, 62, 62, 0.644);
        box-shadow: 0 0.2rem 0.5rem 0.1rem rgb(58, 57, 57);
        color: whitesmoke;
    }
    
    .ProfilePagefollowStatus > hr {
      width: 84%;
    }
  
    #light .ProfilePagefollowStatus > hr{
  
      border: 1px solid var(--hrColor);
    }
    #dark .ProfilePagefollowStatus > hr{
  
      border: 1px solid rgba(221, 220, 220, 0.726);
    }
    
    .ProfilePagefollowStatus > div {
      display: flex;
      gap: 0rem;
      width: 80%;
      justify-content: space-evenly;
      align-items: center;
    }
    
    .ProfilePagefollow {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      align-items: center;
      justify-content: center;
    }
    .ProfilePagefollow > span:nth-of-type(1) {
      font-weight: bold;
    }
    
    .ProfilePagefollow > span:nth-of-type(2) {
      color: var(--gray);
      font-size: 13px;
    }
    
    .ProfilePagevl {
      height: 150%;
      border-left: 2px solid var(--hrColor);
    }


.ProfilePagePostDisplay{
    width: 70rem;
    position: relative;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ProfilePagePostDisplayColumn{
    display: flex;
    flex-direction: column;

}
.ProfilePagePostDisplayColumn>div{
  width: 100%;
}
  