/* quiz.css */
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.score-section {
  text-align: center;
  margin: 20px;
}

.secondary-text {
  font-size: 20px;
}

.question-section {
  text-align: center;
}

.question-count {
  font-size: 18px;
  margin: 10px;
}

.question-text {
  font-size: 24px;
  margin: 20px;
}

answer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  margin: 10px;
}

button {
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
