@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: var(--secondary);
  background: rgb(58, 58, 247);
  cursor: pointer;
}

.score-section{
    display: flex;
    flex-direction: row;
    gap: 0rem;
}
.qsizedbox{
  height: 1rem;
}

.dummy{
    display: flex;
    gap: 2rem
}
.question-section{
    flex-direction: column;
}
.answer-section{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.buttoncls{
    width: fit-content;
}
.quizcnt{
  background-color: rgb(146, 146, 147);
  padding: 40px;
  border-radius: 10px;
  width: 22rem;
}
/* navbar */


/* page content */


/* help layout */


/* faq */


/* careers list */


/* careers details */


/* breadcrumbs */