.shortContainer {
  margin: 0;
}
.short {
  display: flex;
  flex-flow: column;
  height: 40rem;
  max-width: 20rem;
  position: relative;
  margin: 0rem auto;
}
.shortMain {
  padding: 0.5rem 0.2rem 0.5rem 0.8rem;
  border-radius: 1rem;
  margin: 25% auto 0rem auto;
}
#light .shortMain {
  background-color: white;
  color: black;
  box-shadow: 0rem 0rem 1rem 0.2rem black;
}
#dark .shortMain {
  color: white;
  background-color: black;

  box-shadow: 0rem 0rem 1rem 0.2rem grey;
}

.shortProfileInfo {
  display: flex;
  flex-direction: row;
}
.shortFooter {
  display: flex;
  flex-direction: column;
  border-radius: inherit;
  align-items: flex-start;
  justify-content: left;
  width: auto;
  max-height: auto;
  margin: 0.5rem 0.4rem;
  background-color: transparent;
}

.contentReactionsContainer {
  display: grid;
  gap: 0.01rem;
  width: 21rem;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: repeat(9, 2.6rem);
  background-color: transparent;
}

.shortContent {
  height: 80vh;
  grid-column: 1/ 7;
  grid-row: 1/11;
  border-radius: 1rem;
  margin: 0.1rem 0.1rem 0rem 0rem;
  background-color: transparent;
}
.shortReactionsBar {
  display: flex;
  grid-column: 8;
  grid-row: 1/6;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: inherit;
  width: max-content;
  height: inherit;
  margin: 0.5rem 0rem;
  background-color: transparent;
  gap: 1rem;
}
.controlsOfVideo {
  grid-column: 8;
  grid-row: 6/10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0 0.5rem 0 0.1rem;
  max-width: 2.2rem;
  height: auto;
  background-color: transparent;
}
.muteIcon {
  background-color: transparent;
  margin: 0.2rem 0rem;
  padding: 0;
}
.muteIcon > img {
  background-color: transparent;
  margin: 0;
  padding: 0;
  max-width: 110%;
  height: 100%;
  object-fit: cover;
}
.muteIcon {
  border: none;
}
