.ToDisplay {
  border-radius: 2rem;
  color: black;
  font-size: 1.2rem;
  text-decoration: underline;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  height: 10rem;
  width: 19rem;
  position: fixed;
  bottom: 1%;
  left: 4.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
  gap: 0 1rem;
}
#light .ToDisplay {
  background-color: transparent;
  color: black;
}
#dark .ToDisplay {
  background-color: transparent;
  color: white;
}

.itemToDisplay {
  width: 9rem;
  height: 1.5rem;
  padding: 0.4rem 0.7rem;
  text-decoration: none;
}
#light .itemToDisplay {
  color: black;
}
#dark .itemToDisplay {
  color: white;
}
