
.Home{
    position:relative;
    /* display: grid;
    grid-template-columns: 20rem auto 21rem; */
    gap: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.HomeMain{
    top: 5rem;
    position:relative;
    display: grid;
    grid-template-columns: 20rem auto 21rem;
    gap: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
}