.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Light background color */
    padding: 12px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo-icon {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    color: #1da1f2; /* Twitter-like blue color */
  }
  
  .navbar-search {
    flex: 1; /* Expand to fill available space */
    max-width: 270px;
    margin-left:-100px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
  }
  
  .navbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333; /* Dark text color */
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #1da1f2; /* Twitter-like blue color on hover */
  }
  
  .navbar-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
  }
  
  .profile-name span {
    font-weight: bold;
    font-size: 14px;
    color: #333; /* Dark text color */
  }
  