body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.addcontainer {
    margin-top: 30rem;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
form{
    max-width: 37rem;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tags-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    margin: 2px;
}
.sizedbox{
    height: 3rem;
}
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
