.navheader{
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 100;
  top:0%

}
.flex{
    display: flex;
}
.pageslinks{
  
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5rem;
  color: white;
  margin-right: 15px;
  height: 1rem;
  border-left: 0.1rem solid grey;
}
.pageslinks:hover{
  height: 2rem;
}
.nlink{
    background-color: white;
    border: none;
    color: rgb(137, 135, 135);
   
}
.blink{
    padding: 5px 14px;
    border-radius: 5px;
    color: white;
    border: none;
    background-color:  #276998;
}
.blink:hover{
   cursor: pointer;
   opacity: 0.9;
   transform: scale(1.1);
}
.n-link{
    align-items: center;
}
.imag{
    width: 100%;
}
.l_logo{
    width: 6rem;
}
.sizebox{
    height: 0.9rem;
}
.r_logo{
    width: 10rem;
}
.navbar {
    display: flex;
    position: static;
    justify-content: center;
    align-items: center;
    background-color: #ffffff; /* Light background color */
    padding: 12px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .logo-icon {
    font-size: 24px;
    font-weight: bold;
    margin-right: 10px;
    color: #1da1f2; /* Twitter-like blue color */
  }
  
  .navbar-search {
    flex: 1; /* Expand to fill available space */ 
     max-width: 270px;
     margin: 0 3rem 0 auto;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
  }
  
  .navbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  
  .navbar-links a {
    text-decoration: none;
    color: #333; /* Dark text color */
    font-weight: bold;
    font-size: 14px;
    transition: color 0.3s;
    margin: 0.5rem;
  }
  

  
  .navbar-profile {
    display: flex;
    align-items: flex-end;
    margin: 0 0 0 auto;
    justify-content: flex-end;
    width: 13rem;
  }
  
  .profile-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
  }
  
  .profile-name span {
    font-weight: bold;
    font-size: 14px;
    color: #333; /* Dark text color */
  }
  .navaddposts{
    padding-right: 10px ;
  }
  .navaddposts:hover{
    scale: 1.1;
    cursor: pointer;
  }