.navhead{
    display:flex;
    justify-content: flex-end;
    background-color: transparent;
}
.navh{
    align-items: baseline;
    display:flex;
    gap: 1rem;
}
.navh button{
    background-color: aqua;
    padding: 10px;
}