.otherUserCommentBox{
    width: 98%;
    height: fit-content;
    display: flex;
    padding: 0.4rem;
    border-radius: 1.7rem 0 0 0;
    border: 0.05rem solid gray;
    margin: 0.05rem auto 0 auto;
}
#dark .otherUserCommentBox{
    color: white;
    border: 0.05rem solid gray;
}
.otherUserCommentProfileImage{
    width: 2.5rem;
    height: 2.5rem;
    
    margin: 0 0.5rem 0 0;
}
.otherUserCommentProfileImage>img{
    width: 2.5rem;
    height: 2.5rem;
    
    border-radius: 50%;
    object-fit: cover;
}
.otherUserCommentTextPart{
    display: flex;
    flex-direction: column;
}
.otherUserCommentUserName{
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.otherUserComment{
    width: 98%;
    padding: 0rem 0.2rem;
    word-wrap: break-word;
    font-size: 0.95rem;
    font-weight: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}